[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"

[dev-packages]
pytest = "*"
pylint = "*"
sphinx = "*"
codecov = "*"
pytest-cov = "*"
coverage = "*"
scikit-learn = "*"
wheel = "*"
openturns = "*"
