[build-system]
requires = ["poetry>=1.0"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "chaospy"
version = "4.3.3"
description = "Numerical tool for perfroming uncertainty quantification"
license = "MIT"
authors = ["Jonathan Feinberg"]
readme = "README.rst"
repository = "https://github.com/jonathf/chaospy"
documentation = "https://chaospy.readthedocs.io"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Mathematics",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English"
]

[tool.poetry.dependencies]
python = ">=3.7,<4"
numpoly = "^1.1.2"
numpy = "*"
scipy = "*"

[tool.poetry.dev-dependencies]
coverage = "^5.5"
pytest = "^6.2.4"
pytest-cov = "^2.10.1"
sphinx = "^3.5.4"
openturns = "^1.17"
scikit-learn = "^0.24.2"
gstools = "^1.3.0"
jupyter = "^1.0.0"
matplotlib = "^3.4.2"
nbsphinx = "^0.8.5"
sphinx_automodapi = "^0.13"
pydata_sphinx_theme = "^0.6.3"
sphinxcontrib-bibtex = "^2.2.0"
